<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <div class="header">
        <img src="/static/img/szs_big.PNG" alt="szs logo">
    </div>

    {%  block navbar %}

    {% endblock %}

    {%  block content %}

    {%  endblock %}


    <div class="footer">
        <div class="clearfix">
            <div class="box">
                <img src="/static/img/vv_logo.PNG" alt="VV Logo" width="308" height="98">
            </div>
            <div class="box">
                Subscribe to Newsletter
                <br>
                <input type=text" id="subEmail" name="subEmail" placeholder="email">
            </div>
            <div class="box">
                <a href="/contact">Contact Us</a>
                <br>
                <a href="/manufacturing">Manufacturing</a>
                <br>
                <a href="/solar">Solar Generation</a>
            </div>
        </div>
    </div>

</body>
</html>
