{% extends "base.html" %}

{% block navbar %}
<div class="navbar">
    <a href="/" class="navimg">
        <img src="/static/img/szs_dark.PNG" alt="SZS Logo" width="123" height="39">
    </a>
    <a href="/contact">Contact US</a>
    <a href="/manufacturing">Manufacturing</a>
    <a href="/solar">Solar Generation</a>
    {%  if username == "" %}
        <a href="/login" class="right">Login</a>
    {%  else %}
        <a href="/user" class="right">{{ username }}</a>
    {%  endif %}
</div>
{% endblock %}

{%  block content %}
<div class="main">
    <img src="/static/img/heliosone.jpg" class=main_img alt="Solar Panels">
    <br>
    <h2>Sonnenberg Fields</h2>
    <div class="fakeimg" style="height:200px;">List of Solar Arrays</div>
    <br>
    <div class="fakeimg" style="height:200px;">Power Generation</div>
</div>
{%  endblock %}